.paddingDropdown{
  padding-left:7rem;
  padding-top: 2rem;
}

select {
  font-size: 1.2rem;
  font-weight:500;
  padding: 0.7em 2em 0.7em 1.5em;
  background: black;
  color: white;
  border: 0;
}

.dropdown {
  position: relative;
}
