
.aboutContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: black;
}
.aboutBannerContainer{
    width: 100%;
}
.aboutBanner{
    width: 100%;
    display: flex;

}
.aboutTitle{
    color: #cea24e;
    text-align: center;
    font-size: 2rem;
}
.aboutInfo{
    display: flex;
    width: 90%;
    gap: 20px;

}
.meImage{
    width: 50%;
}
.aboutMainImage{
    width: 100%;
    margin-top: 24px;

}
.textAndSing{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.aboutText{
    color: white;
    font-size: 1.5rem;

}
.firmaContainer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.firma
{   
    text-align: end;
    width: 60%;
    transform: rotate(-16deg);
}
.workResume{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}
.workTitle{
    color: #cea24e;
    text-align: center;
}
.logos{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: 4%;
    background-color: black;

}
.logoImage{
    width: 190px;
    
}
.galery{
    
    margin-top: 20px;
    margin-bottom: 20px;
}
.aboutList{
    list-style: disc;
    color: white;
}

@media (max-width: 768px) {
    .aboutInfo{
        flex-direction: column;
        align-items: center;
    }
    .textAndSing{
        width: 95%;
    }
    .logos{
        flex-direction: column;
    }
    .galery{
        display: none;
    }
    .meImage{
        width: 95%;
    }
}