.fightersSeccion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 0px;
}
.fighterstitle {
  color: #cea24e;
  font-size: 2rem;
  margin-bottom: 50px;
  margin-top: 25px;
  font-family: "Exo";
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 36px;
  font-variant: small-caps;
}
.figthersWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 15px;
  margin-bottom: 10%;
}
.fighter {
  width: 20%;
}
.fighterImg {
  width: 100%;
}
.fighterFullName {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.fighterName {
  color: white;
  font-size: 1.4rem;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight:800;
}
.fighterLastname {
  color: #cea24e;
  font-size: 1.4rem;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight:800;
}
.fighterSocialMedia {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10%;
}
#socialMediaTwitter {
  color: white;
  font-size: 2.5rem;
}
#socialMedia {
  color: white;
  font-size: 2.5rem;
}
#socialMediaTwitter:hover {
  color: dodgerblue;
}
#socialMedia:hover {
  color: rgba(245, 96, 64, 1) 
}

@media (max-width: 768px) {
  .fighter {
    width: 50%;
  }
}
a{ text-decoration: none;}

.fighterDetailContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  padding-top: 7%;
  /* margin-top: 6%; */
}
.fullNameAndAlias{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white
}
.FighterData{
  color: white;
}
.fighterSocialMediaDetail {
  display: flex;
  gap: 15px;
  justify-content: center;
  
  width: 100%;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10%;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}