.search {
  text-align: center;
  padding: 1.5rem 1.5rem 0.9rem 15rem;
}

.searchInput {
  border-bottom: 2px solid #ffffff;
}

.search input {
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 1.2rem;
  padding: 1rem 1rem 0.2rem 0;
  height: 30px;
  width: 25rem;
  font-family: "Exo", sans-serif;
  color: white;
}

.search input::placeholder {
  color: #ffffff;
  text-align: left;
}

.search input:focus-visible {
  outline: none;
}
.searchIcon {
  width: 50px;
  display: inline-block;
  place-items: center;
  z-index: 2;
}

#searchIcon {
  color: white;
}

.dataResult {
  margin-top: 5px;
  width: 100%;
  height: auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  display: inline-block;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

#clearBtn {
  cursor: pointer;
}
@media only screen and (max-width: 798px) {
  .search input {
    font-size: 0.8rem;
    width: 10rem;
  }
  .search {
    justify-self: center;
    padding: 1rem;
  }
  .searchIcon {
    width: auto;
  }
  #searchIcon {
    width: 0.8rem;
  }

  .widthSearch {
    font-size: 0.8rem;
  }
}
