.divBcg{
    /* background-image: linear-gradient(to bottom,  red 70%,rgba(255, 0, 0, 0)); */
    /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0, 0, 0, 0.6)); */
    background: linear-gradient(0deg, rgba(12,3,16,0) 50%, rgba(12,3,16,1) 100%);
    position: absolute;
    z-index: 2;
    width:100%;
    padding-bottom: 30px;
}

.topDivHeader{
  display: flex;
  justify-content: center;
  background-color: #000000;
}

#leftbox {
  float:left; 
  width:25%;
}
#middlebox{
  float:center; 
  width:50%;
}
#rightbox{
  float:right;
  width:25%;
}

.logoImg{
    width:3rem;
    float: left;
}

.logoIdioma{
  width:1.5rem;
  float: left;
}

.textIdioma{
  font-size:1.5rem;
  color:#ffffff;
  font-weight:400;
}

nav {
  padding: 5px 20px;
  display: flex;
  justify-content: center;
}

.menuBar {
  list-style-type: none;
  overflow: hidden;
  text-align: center;
  background: #000000;
  width: fit-content;
  padding-inline-start: 0;
}
.menuBar li {
  font-size: 1.2rem;
  padding: 0.2rem 0.7rem;
  display: inline-block;
  text-align: center;
}
.hoverCircle{
  height: .7rem;
  width: .7rem;
  background-color: #CD9E45;
  border-radius: 40%;
  display: inline-block;
}

.menuBar li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  cursor:pointer;
}

.menuBar li a:hover {
  color:#CD9E45;
}
.menuItem:hover{
  color:#CD9E45;
}


