.footer{
    display: flex;
    width: 100%;
    background-color: black;
}

.footerLeft{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerCenter{
    width: 33%;
    
}
.linkIcon{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerRight{
    width: 33%
}
#youtubeIcon{
    color: white;
    font-size: 1,2rem;
}
#instagramIcon{
    color: white;
    font-size: 1,2rem}
.iconContainer{
    padding: 0;
    display: flex;
    gap: 5px;
}
li{
    list-style: none;
}
i{
    color: white;
    font-size: 23px;
}
.footerTitle{
    margin-bottom: 0;
    color:white
}
.logoImg{
    width:10rem
}
@media (max-width: 768px) {
    .logoImg{
        width: 8rem;
    }
    .footerRight{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footerCenter{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}
