.footer{
    display: flex;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
}

.footerLeft{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerCenter{
    width: 33%;
    
}
.linkIcon{
    width: 20px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.footerRight{
    width: 33%
}
#youtubeIcon{
    color: red;
    font-size: 1,2rem;
}
#instagramIcon{
    color: black;
    font-size: 1,2rem}
.iconContainer{
    padding: 0;
    display: flex;
    gap: 5px;
}
li{
    list-style: none;
}
i{
    color: white;
}
.footerTitle{
    margin-bottom: 0;
    color:white
}
.logoImg{
    width:3rem
}
